.app {
  text-align: center;
  justify-content: center;
}

.frame{
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin:5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:220px;
}

.card{
  border-radius: 2em;
  padding:0 1em;
  background-color: #070422;
}

.play
{
  background-image:url('./assets/play.png');
  width:20px; 
   height:20px; 
   object-fit: cover;
   background-position: center;
   background-size: cover;
}

.playprev{
  background-image:url('./assets/previous.png');
   width:20px; 
   height:20px; 
   object-fit: cover;
   background-position: center;
   background-size: cover;
}
.next{
    background-image:url('./assets/next.png');
   width:20px; 
   height:20px; 
   object-fit: cover;
   background-position: center;
   background-size: cover;
}
.reload
{
   background-image:url('./assets/reload.png');
   width:20px; 
   height:20px; 
   object-fit: cover;
   background-position: center;
   background-size: cover;
}
.pause{
  background-image:url('./assets/pause.png');
   width:20px; 
   height:20px; 
   object-fit: cover;
   background-position: center;
   background-size: cover;
}

.controller{
  background: #555;
  margin: 0 1em;
  border: 1px solid;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-color:#3df164;
  align-items: center;
}

.control-pannel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons{
  height: 4em;
  width: 15em;
  background-color:#070422;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}